.DS_Store
*pyc
build/*
**/__pycache__
**/*egg*
**/.cache
ontology/*
**/.ropeproject
catalog*xml
ontology/benchmark/*
.coverage
**/.ipynb_checkpoints
notebooks/images
notebooks/converted
